data_collection/
Data_collection/
__pycache__/
**/.ipynb_checkpoints
**/.DS_Store
youtube_venv

/prototyping/video_urls_FUll.csv
/prototyping/Videos
prototyping/videos_metadata_TEST.csv
prototyping/OYS2pt9DVsY-136.mp4
.DS_Store
