data_collection/data/logos_imgs
data_collection/data/Videos
#Data_collection/data/

**/.ipynb_checkpoints
**/.DS_Store
.DS_Store
youtube_venv

/prototyping/Videos
/prototyping/Videos_test
/prototyping/logos/Images_logos
/protoyping/object_detection/
Labelme2YOLO-main